/* Style pour le conteneur principal du dashboard */
#dashboard {
    -fx-background-color: #f2f2f2; /* Couleur de fond */
    -fx-padding: 20px; /* Remplissage */
}
.header
{-fx-background-color: linear-gradient(to bottom right,#098c53,#246861);}
.nav_form
{-fx-background-color: linear-gradient(to bottom right,#0f6789,#286155);}
#monAnchorPane {
    -fx-background-color: #6495ED; /* Bleu Cornflower */
}
#monLabel {
    -fx-alignment: center-right; /* Alignement horizontal à droite */
}

